<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsIeNkzM7RBzWLRsk-jJLb0mdGn-twR8k</string>
	<key>GCM_SENDER_ID</key>
	<string>680892252301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>shopapp-3b41f</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-3b41f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680892252301:ios:019c5d3ba0c3488a9f22c4</string>
	<key>DATABASE_URL</key>
	<string>https://shopapp-3b41f-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>